<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>About Kampabits</h1>
    <p>This is a place where the knowledge of ICT starts.
        At Kampabits alot is taught there and here they are;
        <li>Programming</li>
        <li>Graphics designing</li>
        There is alot under the above two mentioned and of which every student
        around loves to purchase them all cause they are life changing experiences
        to the youths in the country.
    </p>
</body>
</html>